$Lato: 'Lato', sans-serif;
$Poppins: 'Poppins', sans-serif;


$gradient: linear-gradient(to left, #6156F9 8%, #1A129F 46%);
$white:white;
$lightwhite : #F6F7FB;
$darkgrey: #484848;
$grey:#42495B;
$lightgrey: #7A839E;
$purple-shadow: #7E76F9;
$purple-light: #ECEAFE;
$blue: #1000FF;

$LPadding: 50px;
$MPadding: 20px;
$SPadding: 10px;
$XSPadding: 5px;

$LMargin: 50px;
$MMargin: 20px;
$SMargin: 10px;
$XSMargin: 5px;

$BorderRadius : 30px;

$XLfont: 4.7rem;
$Lfont: 2.5rem;
$Mfont: 1.5rem;
$Sfont: 1rem;
$Xsfont: 0.75rem;

$ShadowEffect : 0px 12px 25px -10px $purple-shadow;