header{
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    height: 200px;

    

    div{
        display: flex;
        align-items: center;
        p{
            margin-top: 2.5rem;
        }
    }
}